.navigation {
	position: sticky;
	z-index: 2;
	top: -1px;

	display: flex;
	align-items: center;

	box-sizing: border-box;
	width: 100%;

	min-height: 35px;

	border-top: 1px solid #D6DCEC;
	border-bottom: 1px solid #D6DCEC;
	background-color: #FFF;
}

.navigation__container {
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
	width: 100%;

	max-width: 1280px;
	margin: 0 auto;
	padding: 0 118px;
}

.navigation__top-link {
	transition: 0.3s;
	text-decoration: none;

	color: #0032A0;

	font-family: Nivea, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.navigation__top-link::before {
	width: 10px;
	height: 12px;
	margin-right: 5px;

	content: url("../../images/topIcon.svg");
}

.navigation__top-link:hover {
	opacity: 0.8;
}

.navigation__list {
	display: flex;
	align-items: center;

	margin: 0;
	padding: 0;

	list-style: none;
	gap: 4.7px;
}

.navigation__link {
	display: flex;
	align-items: center;

	transition: 0.3s;
	text-decoration: none;

	color: #0032A0;

	font-family: Nivea, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}

.navigation__link::after {
	display: inline-block;

	width: 6px;
	height: 6px;
	margin: 0 5px;

	content: "";
	transform: rotate(45deg);

	border-top: 1px solid #00136F;
	border-right: 1px solid #00136F;
}

.navigation__item:last-child a::after {
	content: "";

	border: none;
}

.navigation__link:hover {
	opacity: 0.8;
}

.navigation__item {
	display: flex;
	align-items: center;
}
