.faq {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 50px;
}

.faq__list {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	margin: 46px 0 0;
	padding: 0;

	list-style: none;
	gap: 20px;
}

.faq__item {
	display: flex;
	justify-content: center;

	box-sizing: border-box;
	width: 100%;
	padding: 50px 0;

	background-color: #F7F8FA;
}

.faq__item:nth-child(2) {
	background-color: #FFF;
}

.faq__item-content {
	display: flex;
	justify-content: center;

	max-width: 870px;
	gap: 60px;
}

.faq__item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.faq__image {
	max-width: 405px;
}
