.subtitle {
	margin: 0;

	text-align: center;
	text-transform: uppercase;

	color: #0032A0;

	font-family: Nivea, Arial, sans-serif;
	font-size: 24px;
	font-weight: 800;
}

.subtitle_place_info {
	max-width: 660px;
}

.subtitle_place_faq {
	max-width: 330px;

	text-align: left;
}

.subtitle_place_market {
	max-width: 310px;
	margin: 30px 0 0;

	font-weight: 700;
	line-height: 29px;
}

.subtitle_place_footer {
	text-align: left;

	color: #FFF;

	font-size: 18px;

	font-weight: 700;
}
