.footer {
	width: 100%;

	background-color: #5B75B1;
}

.footer__content {
	display: grid;
	justify-content: center;

	box-sizing: border-box;
	max-width: 1280px;
	margin: 0 auto;
	padding: 55px 0 50px;
	grid-template-columns: 522px 522px;
}

.footer__column:first-of-type {
	border-right: 1px solid #FFF;
}

.footer__events {
	box-sizing: border-box;
	max-width: 472px;
	padding-bottom: 38px;

	border-bottom: 1px solid #FFF;
}

.footer__events-list {
	display: flex;
	flex-direction: column;

	margin: 12px 0 0;
	padding: 0;

	list-style: none;
	gap: 1px;
}

.footer__events-link {
	transition: 0.3s;

	color: #FFF;

	font-size: 14px;
}

.footer__events-link:hover {
	opacity: 0.8;
}

.footer__list-link {
	transition: 0.3s;
	text-align: left;
	text-decoration: underline;

	color: #FFF;

	font-size: 14px;
}

.footer__list-link:hover {
	opacity: 0.8;
}

.footer__help {
	box-sizing: border-box;
	max-width: 472px;
	padding-top: 38px;
}

.footer__help-list {
	display: flex;
	flex-wrap: wrap;

	margin: 12px 0 0;
	padding: 0;

	list-style: none;
}

.footer__help-item {
	box-sizing: border-box;
}

.footer__list-link::before {
	height: 15px;
	margin: 0 10px;

	content: "";

	border-left: 1px solid #FFF;
}

.footer__help-item:first-child a::before {
	margin: 0;

	border: none;
}

.footer__help-item:nth-child(4) a::before {
	margin: 0;

	border: none;
}

.footer__mailing {
	box-sizing: border-box;
	max-width: 472px;
	margin-left: 50px;
	padding-bottom: 38px;

	border-bottom: 1px solid #FFF;
}

.footer__mailing-list {
	display: flex;
	flex-direction: column;

	margin: 17px 0 0;
	padding: 0;

	list-style: none;
	gap: 10px;
}

.footer__mailing-text {
	text-align: left;

	color: #FFF;

	font-size: 14px;
	line-height: 17px;
}

.footer__mailing-form {
	display: flex;
	flex-direction: column;

	max-width: 300px;
	margin-top: 18px;
	gap: 20px;
}

.footer__mailing-input {
	box-sizing: border-box;
	min-height: 46px;
	padding: 10px 18px;

	border: none;
	border-radius: 5px;
	outline: none;
}

.footer__mailing-input::placeholder {
	color: #909090;

	font-family: Nivea, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.footer__socials {
	margin: 30px 0 0 50px;
}

.footer__socials-list {
	display: flex;

	margin: 5px 0 0;
	padding: 0;

	list-style: none;
	gap: 10px;
}

.footer__socials-image {
	width: 46px;
	height: 46px;

	transition: 0.3s;
}

.footer__socials-image:hover {
	opacity: 0.8;
}

.footer__copyright {
	box-sizing: border-box;
	padding: 16px;

	background-color: #06369D;
}

.footer__copyright-content {
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;

	max-width: 1280px;
	margin: 0 auto;
	padding: 0 118px;
}
