.market {
	display: flex;
	justify-content: center;

	box-sizing: border-box;
	margin-top: 44px;
	padding: 60px 0;
	scroll-margin: 20px;

	background-color: #F7F8FA;
}

.market__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	max-width: 1280px;
	margin: 0;
	padding: 0;

	list-style: none;
	gap: 50px 72px;
}

.market__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;

	box-sizing: border-box;
	width: 100%;
	max-width: 468px;
	padding: 52px 0 44px;

	background-color: #FFF;
}

.market__image {
	object-position: center;

	height: 100%;
	min-height: 224px;
	object-fit: none;
}

.market__title {
	max-width: 343px;
	margin: 50px 0 0;

	text-align: center;
	text-transform: uppercase;

	color: #06369D;

	font-family: Nivea, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.market__places {
	display: flex;
	justify-content: center;

	margin: 34px 0 0;
	padding: 0;

	list-style: none;
	gap: 30px;
}

.market__place {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	gap: 26px;
}

.market__place-logo {
	max-width: 175px;
	height: 100%;
	object-fit: none;
}
